params {
    max_cpus      = 32
    max_memory    = 128.GB

    gendir        = "/datas/ELIOTT/data_dense_yeast/GENOMES/"
    focal         = "Scer_NCBI"
    tree          = "/datas/ELIOTT/data_dense_yeast/Saccharomyces_species.nwk"
    taxids        = "/datas/ELIOTT/data_dense_yeast/taxids.tsv"
    genera_db     = "/datas/NR/nr_2.0.13.dmnd"

    outdir        = "/datas/ELIOTT/result_dense_yeast/"

    num_outgroups = 2


}