params {
    max_cpus      = 16
    max_memory    = 64.GB

    gendir        = "/datas/ELIOTT/dense_genomes"
    focal         = "Scer_NCBI"
    tree          = "/datas/ELIOTT/Saccharomyces_species.nwk"
    taxids        = "/datas/ELIOTT/taxids.tsv"
    genera_db     = "/datas/NR/nr_2.0.13.dmnd"

    outdir        = "/datas/ELIOTT/result_dense_yeast/"

    num_outgroups = 2


}