params {
    max_cpus      = 32
    max_memory    = 128.GB

    gendir        = "/datas/ELIOTT/yeast_data/genomes"
    focal         = "Scer_NCBI"
    tree          = "/datas/ELIOTT/yeast_data/Saccharomyces_species.nwk"
    taxids        = "/datas/ELIOTT/yeast_data/taxids.tsv"
    genera_db     = "/datas/NR/nr_2.0.13.dmnd"

    outdir        = "/datas/ELIOTT/result_dense_yeast_2/"

    num_outgroups = 2


}